body{
	font-family: arial;
	background-color: #2B4A6F;
	color: #cccccc;
}
h2{
	font-weight: normal;
	font-size: 1.2em;
	text-decoration: none;
	margin: 0px;
}
div.contenedor_requerimiento{
	display: flex;
	flex-direction: row;
	/*border: 1px dotted #333333;*/
}

div.contenedor_historia{
	display: flex;
	flex-direction: row;
	/*border: 1px dotted #333333;*/
}

#divSprints, #divEquipos, #divDiario{
	width: 75%;
	display: flex;
	flex-direction: row;
	border-radius:0.7em;
	padding: 0.5em;
	margin: 0.5em;
}

#divSprints{
	border: 1px solid #2B4A6F;
}

#divEquipos{
	border: 1px solid #cccccc;
	min-height: 3em;
}

#divDiario{
	border: 1px solid #cccccc;
	min-height: 3em;
}


#divDesarrollo{
	width: 75%;
	display: flex;
	flex-direction: row;
	/*border: 1px dotted grey;*/
	margin: 0;
	padding: 0;
}

#divRequerimientos{
	width: 50%;
	justify-content: center;
  	align-items: center;
	/*border: 1px dotted grey;*/
	margin: 0;
	padding: 0;
}

#contenedor_integracion{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	/*border: 1px dotted grey;*/
	margin: 0;
	padding: 0;
}

#divIntegracion{
	text-align:center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#divTests{
	width: 10%;
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	padding: 0.5em;	
	/*border: 1px dotted grey;*/
	margin: 0;
	padding: 0;
}

#divRepositorio, #divProduccion{
	border: 2px solid #cccccc;
	border-radius:0.7em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	min-width: 5em;
	min-height: 3em;
}

#icono_integracion{
	font-size:8em;
}

#contenedor_diario{
	float: right;
	min-width: 20%;
}

div.sprint, div.requerimiento, div.historia, div.componente, div.testSuite, div.equipo{
	white-space: nowrap;
}

div.requerimiento, div.historia, div.componente, div.testSuite{
	margin: 0.5em;
	padding: 0.5em;
	height: 5em;
	min-width: 4em;	
	border: 0.3em solid;
	border-radius: 0.5em;
	background-color: #555555;
}

div.sprint{
	border: 1px solid #553400;
	margin: 0.2em;
	padding: 0.2em;
	background-color: #555555;
}

div.sprint.activo{
	background-color: #ffddaa;
	color: #553400;
	cursor: pointer;
}

div.requerimiento {
	width: 30%;
	border-color: #448F30;
}

div.testSuite{
	border-color: #448F30;
}

div.requerimiento.completado {
	background-color: green;
}

div.equipo{
	margin: 0.5em;
	padding: 0.5em;
	background-color: #cccccc;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	color: #2B4A6F;
	cursor: pointer;
}

div.historias{
	/*border: 1px dotted grey;*/
	width: 70%;
	margin: 0;
	padding: 0;
}

div.historia{
	border-color: #AA7E39;
}

div.componentes{
	/*border: 1px dotted grey;*/
	width: 50%;
}

div.componente{
	border-color: #A33643;
}

#divProduccion div.componente, #divRepositorio div.componente{
	/*border: 1px dotted grey;*/
	width: inherit;
	height: inherit;
}


/* Material Design Icons - https://material.io */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconos/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(iconos/MaterialIcons-Regular.woff2) format('woff2'),
    url(iconos/MaterialIcons-Regular.woff) format('woff'),
    url(iconos/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px;*/  /* Preferred icon size */
  font-size: 1em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
